html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body{
  background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.tablespoon.com%2Frecipes%2Fjulia-childs-beef-bourguignon%2Fcdda3ccc-3623-4363-8095-aaca1a3f8313&psig=AOvVaw0683jXo6CHBSIvkYC7b7Qv&ust=1717145185950000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCLiNpO2EtYYDFQAAAAAdAAAAABAE');

}